<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--webapi setting-->
		<add key="key" value="eb3aee6fae09e8c983a21e8696c6ea01"/>
		<add key="url" value="https://restapi.amap.com/v3/weather/weatherInfo"/>
		<!--database setting-->
		<add key="serverIP" value="8.129.62.90"/>
		<add key="uid" value="lxc"/>
		<add key="pwd" value="snlk_qlzw"/>
		<add key="database" value="weathersys"/>
		<!--common setting-->
			<!-- server current socket-->
		<add key="listenSocket" value="127.0.0.1:8899"/>
			<!-- 5mins update weather once-->
		<add key="updateWeatherTime" value="300000"/>
	</appSettings>
</configuration>
